div.sdmenu {
	width: 170px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	/*padding-bottom: 10px;
	background: url(bottom.png) no-repeat right bottom;*/
	color: #fff;
	border: 1px solid #C42323;
}
div.pkUccBottom {
	width: 172px;
	height: 10px;
	padding: 0;
	background: url(bottom.png) no-repeat left bottom;
	border-top: 1px solid #E56D6D;
}
div.sdmenu div {
	background: url(title_new.png) repeat-x;
	overflow: hidden;
	text-align: left;
	/*border-bottom: 1px solid #000;*/
}

/* Zusaetzliche Links */
div.normalLink {
	width: 170px;
	height: 23px;
	background: url(title_new.png) no-repeat center;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	border: 1px solid #C42323;
	border-top: 1px solid #E56D6D;
	border-bottom: none;
}

div.normalLink a {
	display: block;
	padding-top: 5px;
	padding-left: 35px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
div.normalLink a:hover {
	color: #000;
	font-weight: bold;
}
a.adminHome {
	background: url(key.png) 8px 4px no-repeat;
}
a.toWebsite {
	background: url(house.png) 8px 4px no-repeat;
}
a.logoutBottom {
	background: url(door_out.png) 8px 4px no-repeat;
}
/* Zusaetzliche Links */

/* Start - KopfDiv*/
div.pkUccTopTitle {
	padding: 0;
	/*padding-top: 5px;
	margin-left: 1px;*/
	width: 172px;
	height: 25px;
	background: url(pkucc_menu_top.png) no-repeat center;
}
div.pkUccTopTitle span {
	display: block;
	padding-top: 5px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
/* Ende - KopfDiv*/

/*div.sdmenu div:first-child {
	background: url(title_new.png) no-repeat;
}*/
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 5px;
	padding-left: 35px;
	font-weight: bold;
	color: white;
	background: url(minus.png) no-repeat left;
	background-position: 7%;
	cursor: default;
	/*border-bottom: 1px solid #ddd;*/
}

/* TEST */
div.sdmenu div span:hover {
	display: block;
	padding: 5px 5px;
	padding-left: 35px;
	font-weight: bold;
	color: black;
	/*background: url(minus.png) no-repeat left;
	background-position: 7%;*/
	cursor: pointer;
	/*border-bottom: 1px solid #ddd;*/
}

div.sdmenu div.collapsed span {
	/*background-image: url(collapsed.gif);*/
	background: url(plus.png) no-repeat left;
	background-position: 7%;
	padding-left: 35px;
}

div.sdmenu div.collapsed span:hover {
	color: #000;
}

div.sdmenu div a {
	margin-top: 1px;
	padding: 5px 20px;
	/*background-color: #eee;*/
	/*background: #F8AAAA url(collapsed.gif) no-repeat 5px center;*/
	background: #F8AAAA url(collapsed.gif) no-repeat 5px center;
	display: block;
	/*border-bottom: 1px solid #C42323;*/
	color: #C00;
	text-decoration: none;
}
div.sdmenu div a.current {
	/*background : #D54242;
	padding: 5px 20px;*/
	font-weight: bold;
	color: #000;
	background : #E45A5A url(collapsed_hover.gif) no-repeat 5px center;
	/*background-color: #D54242;*/
}
div.sdmenu div a:hover {
	/*padding: 5px 20px;*/
	/*font-weight: bold;*/
	background : #E45A5A url(collapsed_hover.gif) no-repeat 5px center;
	/*background-color: #D54242;*/
	color: #000;
	text-decoration: none;
}